laravel.shinobi.my.id {
  root * /usr/src/app/public
  log
  encode gzip
  php_fastcgi laravel_app:9000
  file_server
}

nestjs.shinobi.my.id {
  reverse_proxy nestjs_app:3000  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}

nextjs.shinobi.my.id {
  reverse_proxy nextjs_app:3000  {
    header_down Strict-Transport-Security max-age=31536000;
  }
}